[Unit]
Description=Service to mark the upgrade as success
After=boot-complete.target
Requires=boot-complete.target
DefaultDependencies=no

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=/usr/bin/sleep 30
ExecStart=fw_setenv upgrade_available 0

[Install]
WantedBy=multi-user.target
